@font-face{
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css?family=Cardo|Montserrat");
}

h1, h2, h3, p, footer *, #nav, .container-of-logo{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

td:empty {
    padding: 20px;
}

table {
    
    border-collapse: collapse;
    text-align: center;
    empty-cells: show;
}

#S2 table{
    margin-right: auto;
    margin-left: auto;
}


div.header_nav{
    background-color: lightblue;
}

.button{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Aleo', serif;
    text-decoration: none;
    padding: 7px 15px;
    cursor: pointer;
    background: none;
    border-radius: 50px;
    outline : 0;
    border-color: lightgrey;
    border-width: 1.2px;
}

.divForButton{
   display: flex;
   justify-content: center;

}


.header_nav .button:hover {
    background-color: #EEEEEE;
}

.button:hover{
    background-color: lightblue;
}

.fx-grayscale-logo{

    width: 300px;
    height: 250px;


}

#nav li{
    display: inline;

}

.restOfBody{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #EEEEEE;
}

body{
    background-image: url('https://www.tokkoro.com/picsup/3002667-collaborate_collaboration_company_creative_design_designer_group_hands_help_marketing_people_presentation_woman39s-hands_work_working.jpg');
}

footer ul{
    display: inline;
}

footer{
    padding-bottom: 70px;
}


#S31{
 
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    border-bottom:1px solid black;
}

.two-tables{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 900px){
    body{
        font-size: 50%;
    }
    th,td{
        font-size: 10px;
    }
 
}

/* Dropdown Button */
.dropbtn {
    background-color: #EEEEEE;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content .button:hover{
    background-color: lightblue;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  /*.dropdown-content button:hover {background-color: lightblue;}*/
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /*.dropdown:hover .dropbtn {background-color: #EEEEEE;}*/