<!DOCTYPE html>
<html lang="ro">

<head>

    <link rel="icon" type="image/png" href="../../resources/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/stylesheet.css">

    <title>
        User Page
    </title>
    <meta charset="utf-8" />
    <meta name="author" content="Vlad Manea" />
    <meta name="keywords" content="HTML, courses, user, join" />
    <meta name="date" content="2019/10/28" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="header_nav">
        <header>
            <h1>Admin page</h1>
            <aside>
                <p>
                    Users and Courses
                </p>
            </aside>

            <div class="divForButton">
                <div>
                    
                    <button class="button logout"><a href='/logout' style = "text-decoration: none; color:black">Logout</a></button>
                </div>
            </div>
        </header>
        <div class="container-of-logo">
            <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../resources/images/logo.png">
        </div>

        <%- include("../fragments/nav.ejs")%>
    </div>
    <div class="restOfBody">
        <section id="S2">
            <h2>Users and Courses</h2>
            <div class="two-tables">
                <div class="first-half">
                    <% for(i=0;i<users.length; i++){%>
                        <%- include("../fragments/template_user.ejs",
                        {
                            user:users[i]
                        })%>
                        <%}%>
                </div>
                <div class="second-half">
                        <% for(i=0;i<courses.length; i++){%>
                                <%- include("../fragments/template_course.ejs",
                                {
                                    course:courses[i]
                                })%>
                                <%}%>
                </div>
            </div>
            </section>
            <footer>
                <button class="button">Press me to go up</button>
            </footer>
    </div>
</body>

</html>