<div class="screen-full-height not-found-container"
     style="
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            background-color: #d7e8fd;
            height: 100%;">

    <img class="not-found-logo" alt="not-found-logo" src="https://i.ibb.co/gjMRcHp/logo.png"
         style="
            margin-bottom: 50px;
            width: 400px;
            align-content: center;">

    <div class="not-found-text"
        style="
            font-family: 'Aleo', serif;
            font-size: 32px;
            color: black;
            display: flex;
            align-items: center;
            text-align: center;
            margin-top: 20px;">
        ERROR 404
        <br> Sorry, the page you are looking for does not exist.
    </div>
</div>