<!DOCTYPE html>
<html lang="ro">

<head>

    <link rel="icon" type="image/png" href="../../resources/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/stylesheetLoginPage.css">
    <title>
        Login TrainUp
    </title>
    <meta charset="utf-8" />

</head>

<body>

    <div class="row screen-full-height">
        <div class="col-md-6 login-logo-container container-center">
            <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../resources/images/logo.png">
        </div>
        <div class="col-md-6">
            <div class="container-center screen-full-height">
                <div class="content">
                    <div class="title title-border">
                        <h4>Log in to your account</h4>
                    </div>
                        <div class="form-group flex">    
                            <div class="col" id = "S1">
                                <input type="text" placeholder="E-mail" autocomplete="email"
                                    id="email" />   
                            </div>
                        </div>
    
                        <div class="form-group flex">
                            <div class="col">
                                <input type="password" placeholder="Password" 
                                    autocomplete="current-password" id="password" />
                            </div>
                        </div>
    
                        <div class="login-button">
                            <button type="submit" class="button"><span>Login</span></button>
                        </div>
                        <div>
                            <a href = "/mainPage">Visit the home page</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>