<!DOCTYPE html>
<html lang="ro">

<head>

    <link rel="icon" type="image/png" href="../../resources/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/stylesheet.css">
    <title>
        TrainUp
    </title>
    <meta charset="utf-8" />
    <meta name="author" content="Vlad Manea" />
    <meta name="keywords" content="HTML, courses, user, join" />
    <meta name="date" content="2019/10/28" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="header_nav">
        <header id="S1">
            <h1>Main Page</h1>
            <aside>
                <p>
                    All courses that are posted and a small description of each
                </p>
            </aside>

            <div class="divForButton">
                <div>
                    <p>Not logged in? / Go to your account</p>
                    <button class="button login">Press here to log in</button>
                    <button class="button login">Go to your account</button>
                </div>
            </div>

        </header>

        <div class="container-of-logo">
            <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../resources/images/logo.png">
        </div>

        <%- include("../fragments/nav")%>

    </div>
    <div class="restOfBody">
        <section id="S2">
            <h2>Courses</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Java for Dummies</td>
                        <td>This course explains the basics of Java Programming for OOP</td>
                        <td><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/234px-Java_programming_language_logo.svg.png"
                                alt="Java picture" title="Java" style="width:40px;height: 60px;">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Agile from Begginer to Expert</td>
                        <td>A small course that goes through all the things you need to know to be able to work in an
                            Agile
                            type of enviorment</td>
                        <td><img src="https://miro.medium.com/max/1100/1*vdSIa2rFEAZS1YUsgOZR0A.jpeg"
                                alt="Agile picture" title="Agile" style="width:80px;height: 60px;"></td>
                    </tr>


                </tbody>
            </table>

        </section>

        <section id="S3">
            <h2>About the website</h2>
            <section id="S31">
                <h3><em>Why does it exist ?</em> </h3>
                <p>This website wishes to make an enrollement of users much easier in a company</p>
                <br />
                <h3><em>How is it easier?</em></h3>
                <p>By the simplicity of the webiste and the features it provides for the user that<br /></p>
                <p>wish to enroll to certain courses available in the certain company<br /></p>
                <p>Later, the request to enrollement could be made via email from your phone, a much easier way to do
                    things
                    nowdays</p>
            </section>
        </section>

        <% for(i=0;i<courses.length; i++){%>
            <%- include("../fragments/template_course.ejs",
            {
                course:courses[i]
            })%>
            <%}%>
        <footer>
            <button class="button">Press me to go up</button>
            <p>Site written by Vlad Manea, who studies at <abbr
                    title="Facultatea de Matematica si Informatica">FMI</abbr>.
            </p>
            <p>E-mails:</p>
            <ul>
                <li> vladaron123@gmail.com</li>
                <li> eduard-vlad.manea@gmail.com </li>
            </ul>
            <button class="button">My github</button>
        </footer>
    </div>

</body>


</html>