<!DOCTYPE html>
<html lang="ro">

<head>

    <link rel="icon" type="image/png" href="../../resources/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/stylesheet.css">
    <script src="../../resources/javascript/mainPage.js"></script>
    <title>
        TrainUp
    </title>
    <meta charset="utf-8" />
    <meta name="author" content="Vlad Manea" />
    <meta name="keywords" content="HTML, courses, user, join" />
    <meta name="date" content="2019/10/28" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="header_nav">
        <header id="S1">
            <h1>Main Page</h1>
            <aside>
                <p>
                    All courses that are posted and a small description of each
                </p>
            </aside>

            <div class="divForButton">
                <div>
                    <p>Go to your account</p>
                    <button class="button login"><a href = '/userPage' style = "text-decoration: none; color:black">Go to your account</a></button>
                </div>
            </div>

        </header>

        <div class="container-of-logo">
            <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../resources/images/logo.png">
        </div>


    </div>
    <div class="restOfBody">
        <div id = "sorting">

        </div>
        <section id="S2">
            <h2>Courses</h2>
            <% for(i=0;i<courses.length; i++){%>
                <%- include("../fragments/template_course.ejs",
                {
                    course:courses[i]
                })%>
                <%}%>

        </section>

        <section id="S3">
            <h2>About the website</h2>
            <section id="S31">
                <h3><em>Why does it exist ?</em> </h3>
                <p>This website wishes to make an enrollement of users much easier in a company</p>
                <br />
                <h3><em>How is it easier?</em></h3>
                <p>By the simplicity of the webiste and the features it provides for the user that<br /></p>
                <p>wish to enroll to certain courses available in the certain company<br /></p>
                <p>Later, the request to enrollement could be made via email from your phone, a much easier way to do
                    things
                    nowdays</p>
            </section>
        </section>

      
        <footer>
            <button class="button">Press me to go up</button>
            <p>Site written by Vlad Manea, who studies at <abbr
                    title="Facultatea de Matematica si Informatica">FMI</abbr>.
            </p>
            <p>E-mails:</p>
            <ul>
                <li> vladaron123@gmail.com</li>
                <li> eduard-vlad.manea@gmail.com </li>
            </ul>
            <button class="button">My github</button>
        </footer>
    </div>

</body>


</html>