<!DOCTYPE html>
<html lang="ro">

<head>

    <link rel="icon" type="image/png" href="../../resources/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/stylesheetLoginPage.css">
    <title>
        Register TrainUp
    </title>
    <meta charset="utf-8" />

</head>

<body>

    <div class="row screen-full-height">
        <div class="col-md-6 login-logo-container container-center">
            <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../resources/images/logo.png">
        </div>
        <div class="col-md-6">
            <div class="container-center screen-full-height">
                <div class="content">
                    <div class="title title-border">
                        <h4>Register</h4>
                    </div>
                    <form id = "form_register" method = "POST">
                        <div class="form-group flex">
                            <div class="col">
                                <input type="text" placeholder="First name" autocomplete="first name" id="first_name" name = "first_name"required />
                            </div>
                        </div>

                        <div class="form-group flex">
                            <div class="col">
                                <input type="text" placeholder="Last name" autocomplete="last name" id="last_name"  name = "last_name"required/>
                            </div>
                        </div>

                        <div class="form-group flex">
                            <div class="col">
                                <input type="text" placeholder="E-mail" autocomplete="email" id="email" name = "email" required/>
                            </div>
                        </div>

                        <div class="form-group flex">
                            <div class="col">
                                <input type="password" placeholder="Password" autocomplete="current-password" id="password"  name = "password"required/>
                            </div>
                        </div>

                        <div class="form-group flex">
                            <div class="col">
                                <input type="password" placeholder="Confirm Password" autocomplete="current-password" id="confirm_password"  name = "confirm_password"required/>
                            </div>
                        </div>

                        <div class="register-button">
                            <input type="submit" value="Register" class="button">
                        </div>
                      
                    </form>
                    <p>Already have an account?</p>
                    <button class = "button"><a href ='/loginPage' style = "text-decoration: none; color:black">Login</a></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>