<!DOCTYPE html>
<html lang="ro">

<head>

    <link rel="icon" type="image/png" href="../../resources/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/stylesheet.css">

    <title>
        User Page
    </title>
    <meta charset="utf-8" />
    <meta name="author" content="Vlad Manea" />
    <meta name="keywords" content="courses, user, join" />
    <meta name="date" content="2019/10/28" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="header_nav">
        <header>
            <h1>Your account</h1>
            <aside>
                <p>
                    Your past and current courses will be showed here
                </p>
            </aside>

            <div class="divForButton">
                <div>
                    <p>Log out</p>
                    <button class="button logout"><a href='/logout' style = "text-decoration: none; color:black">Logout</a></button>
                </div>
            </div>
        </header>
        <main>
            <div class="container-of-logo">
                <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../resources/images/logo.png">
            </div>
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <%- include("../fragments/nav")%>
                </div>
            </div>

    </div>
    <div class="restOfBody">
        <section id="S2">
            <h2>Courses</h2>
            <div class="two-tables">
                <div class="first-half">
                    <h3>Current Courses</h3>
                    <% for(i=0;i<user.currentCourses.length; i++){%>
                        <%- include("../fragments/template_course.ejs",
                        {
                            course:user.currentCourses[i]
                        })%>
                        <%}%>
                </div>
                <div class="second-half">
                        <h3>Past Courses</h3>
                    <% for(i=0;i<user.pastCourses.length; i++){%>
                        <%- include("../fragments/template_course.ejs",
                        {
                            course:user.pastCourses[i]
                        })%>
                        <%}%>
                </div>
            </div>

        </section>
        </main>
        <footer>
            <button class="button">Press me to go up</button>
        </footer>
    </div>
</body>

</html>