<nav id="nav">
    <ol>
        <li><button class="button">Header</button></li>
        <li><button class="button">Courses</button></li>
        <li><button class="button">About the webiste</button></li>

    </ol>
</nav>