<nav id="nav">
    <ol>
        <li><button class="button"><a href = '#S1' style = "text-decoration: none; color:black">Header</a></button></li>
        <li><button class="button"><a href = '/mainPage' style = "text-decoration: none; color:black">Main page</a></button></li>
        

    </ol>
</nav>