<div class="template_user">
	<section class="user">
		<article>
			<h2>User: </h2>
			<p id="name"><%= user.firstName %> <%= user.lastName %></p>
			<p id="name">Blocked : <%= user.blocked %> </p>
                
		</article>

	</section>
</div>