<div class="template_user">
	<section class="course">
		<h2>Course: <%= course.CourseName %></h2>
		
		<p id="id_course">Id: <%= course.id %></p>		
		<p id="description">Id: <%= course.Description %></p>
		
	</section>
</div>